[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
xgboost = "*"
flask = "*"
waitress = "*"
pandas = "*"
matplotlib = "*"
requests = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.11"
